<%- include('header') -%>

    <div class="container-fluid">
        <div class="row">
            <div class="col-mg-8 furm">
                <form action="/consol" method="post">
                    <div class="form-elem">
                        <label for="soil">Crop:</label>
                        <input type="text" name="soil" placeholder="type of crop" autocomplete="off">
                    </div>
                    
                    <div class="form-elem">
                        <label for="crop">Soil:</label>
                        <input type="text" name="crop" placeholder="type of soil" autocomplete="off">
                    </div>
                    <div class="form-elem">
                        <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include('footer') -%>