<%- include('header') -%>

<div class="container-fluid test">
    <div class="row">
        <div class="col-md-6 about">
            <b>KNOW-N-GROW</b> <br> a device that measures the moisture levels in soil
            that lets the farmer know if he/she needs to further irrigate the crops.
            <br>
            Further, a device will be integrated that lets the farmer know when to 
            stop watering the crops by measuring the water output and the weather 
            conditions.
            <br><br>
            HOW THE SENSOR WORK
            <ul>
                <li>
                    The Soil Moisture Sensor uses capacitance to measure the dielectric
                    permittivity of the surrounding medium.
                </li>
                <li>In soil, dielectric permittivity is a function of the water content.</li>
                <li>The sensor creates a voltage proportional to the dielectric permittivity, and therefore the
                    water content of the soil.</li>
            </ul>
            <button type="button" class="btn btn-dark">
                <a href="/console"> Start Working</a>
            </button>
        </div>
        <div class="col-md-6 img">
            <img src="assets/cap.jpg" alt="" width="70%" height="100%">
        </div>
    </div>
</div>

<%- include('footer') -%>